html{
    scroll-behaviour: smooth;
}

body{
    background-image:url("https://wallpapercave.com/wp/wp13196799.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    min-height:100vh;
    margin:0;
    color:white;
    font-family:cursive;
}

h1{
    color:royalblue;
    font-family:'Courier New', Courier, monospace;
    font-size: 60px;
    margin:20px 0 10px;
}
h1 mark{
    background-color: rgb(255,200,105);
    padding:0px 15px;
    border-radius: 10px;
}

nav {
    background-color:rgba(40,0,60,0.75);
    padding:15px;
    display: flex;
    justify-content: center;
    gap:30px;
    border-radius:12px;
    margin:10px 20px;
    position: sticky;
    top: 10px;
    z-index:10;
}
nav a {
    color: rgb(225,200,105);
    font-family:'Courier New', Courier, monospace;
    font-size:24px;
    font-weight: bold;
    text-decoration:none;
    padding:8px 16px;
    border-radius:8px;
    transition:background-color 0.2s;
}
nav a:hover{
    background-color: purple;
    color:white;
}

section{
    background-color:rgba(0,0,0,0.6);
    max-width:900px;
    margin:40px auto;
    padding:30px 40px;
    border-radius:16px;
    box-shadow:0 8px 25px rgba(0,0,0,0.5);
    scroll-margin-top:100px;
}
h2{
    color:rgb(225,200,105);
    font-family:'Courier New', Courier, monospace;
    font: size 40px;
    margin-top:0;
    border-bottom:2px solid rgb(225,200,105);
    padding-bottom:10px;
}
h3{
    font-size: 32px;
    margin-bottom:10px;
}
p,li{
    font-size:22px;
    line-height:1.6;
}
ul{
    list-style-type: disc;
}

img{
    display:block;
    width:100%;
    height: auto;
    margin:20px auto;
    border-radius: 12px;
}
iframe{
    display:block;
    width:100%;
    aspect-ratio:16/9;
    height:auto;
    border: none;
    border-radius: 12px;
    margin: 20px 0;
}

footer{
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 40px;
}
